@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  background-color: #026435;
  font-family: "Orbitron", sans-serif;
}

/* Header Style */

header {
  color: #ffbf46;
}

/* Hero Section */

.latest--sec--left {
  background-color: rgb(255, 191, 70);
  min-height: 500px;
}

.latest--sec--left h1 {
  color: #026435;
}

.latest--sec--left p {
  color: #026435;
  font-family: "Maven Pro", sans-serif;
}

.latest--blog--posts {
  background-color: #ffbf46;
}
